body{
    font-family: Helvetica, sans-serif;
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    margin-right: 90px;
    padding: 0;
    gap: 40px;
    
}

.headerup {
    margin-left: 100px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    

}


.headerdown div{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 0;
    margin-right: 30px;
}

.headerdown p{
    margin-top:0;
    font-size: 22px;
    width: 450px

}

.headerdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;

}

.headerdown h1 {
    margin-bottom: 0;
}

.foto1{
    height: auto;
    width: 350px;
}
button{
    background-color: rgb(0, 149, 255);
    padding: 5px 10px;
    border-radius: 10px;
    color:white;
    width: 100px;
    font-weight: 900;
    
}

img{
    width: 350px;
    height: auto;
}

a{
    text-decoration: none;
    color: rgb(202, 202, 202);
}

.header{
    background-color: rgb(31, 33, 88);
    border: 0;
    color:antiquewhite;
    padding-bottom: 40px;
}




.upbody img {
    border-radius: 20px;
    border: 5px solid lightskyblue; 
    object-fit: cover;
    display: flex;
    flex: auto;
    width: 250px;
    height: 250px;
    object-fit: cover;


}

.upbody{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 20px;
    gap: 40px;
    padding-bottom: 80px;
    background-image: url(https://c.neh.tw/thumb/f/720/5015778036285440.jpg);
    background-attachment: fixed;
    background-size:auto;

}

.fotos{
    display: flex;
    flex: auto;
    align-items: baseline;
    gap: 40px;
    flex-wrap: wrap;
}

.fototekst{
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
}

.fototekst p{
    font-size: 17px;
    color: rgb(212, 211, 169);
    width: 250px;
}
.upbody h2{
    margin-top: 40px 0;
    color: rgb(246, 244, 121);
    font-size:40px;

}


.downbody{
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 500px; */
    padding: 200px 240px;
}

.downbody p{
    font-size: 50px;
    font-style: italic;
    font-weight: 100;
    margin: 0;
    
}

.downbody div{
    font-size: 22px;
    font-weight: 800;
    align-self: flex-end;
}


.call{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-image: url(https://static01.nyt.com/images/2021/02/12/business/00japan-anime-1/00japan-anime-1-mobileMasterAt3x-v2.jpg);
    background-attachment: fixed;
}

.blue{
    background-color: rgb(0, 110, 255);
    display: flex;
    align-items: center;
    justify-self: center;
    color: aliceblue;
    border-radius: 15px;
    padding: 0 100px;
    height: 130px;
    gap: 102px;
    
}

.call button{
    border: 2px solid rgb(236, 236, 236);
    font-size: 16px;
    border-radius: 8px;
    background-color: rgb(0, 110, 255);
    height: 35px;
    font-weight: 400;
    height: 35px;
    width: 135px;
    
}

.call button:hover{
           border: 2px solid rgb(236, 236, 236);
    font-size: 16px;
    border-radius: 8px;
    background-color: rgba(255, 136, 0, 0.265);
    height: 35px;
    font-weight: 400;
    height: 35px;
    width: 135px;
        opacity: 0.6;
    }

.action{
    font-weight: 700;
    font-size: 22px;
}

.sign{
    font-weight: 100;

}


.footer{
    background-color: rgb(21, 31, 57);
    color: rgb(230, 200, 200);
    display: flex;
    flex: auto;
    justify-content: center;
    height: 70px;
    align-items: center;


}
